.full {
    background-color: green;
    color: whitesmoke;
    text-align: right;
}

.half {
    background-color: rgb(139, 139, 8);
    color: whitesmoke;
    text-align: right;    
}

.empty {
    background-color: rgb(139, 5, 5);
    color: whitesmoke;
    text-align: right;       
}

.Dettaglio{
    height: 500px;
    background-color: #5c5b5b;
    color:rgb(209, 209, 209);
}

div#triangolo {
    position: absolute;
    top: 50px;
    left: -20px;
    width: 0; height: 0; line-height: 0;
    border-bottom: 40px solid transparent;
    border-top:   40px solid transparent;
    border-right:  40px solid #5c5b5b;
  }