.full {
    background-color: green;
    color: whitesmoke;
    text-align: right;
}

.half {
    background-color: rgb(139, 139, 8);
    color: whitesmoke;
    text-align: right;    
}

.empty {
    background-color: rgb(139, 5, 5);
    color: whitesmoke;
    text-align: right;       
}

.Dettaglio{
    min-height: 400px;
    background-color: #5c5b5b;
    color:rgb(209, 209, 209);
}

div#triangolo {
    position: absolute;
    top: 50px;
    left: -20px;
    width: 0; height: 0; line-height: 0;
    border-bottom: 40px solid transparent;
    border-top:   40px solid transparent;
    border-right:  40px solid #5c5b5b;
  }

.rowData {
    margin-top: 15px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    width: 100%;
}

.messages {
    list-style-type:none;
}